* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    list-style-type: none;
    color: rgba(0, 0, 0, 0.541327);
}

body {
    width: 100vw;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;

    .nav-container {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);

        .nav,
        .logo {
            padding-left: 35px; 
        }

        h1 {
            font-size: 20px;
            color: #000000;
            font-weight: 500;
        }
    }
}

main {
    display: flex;

    .palletes {
        display: flex;
        flex-direction: column;
    }

    .first-pallete,
    .second-pallete {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        margin-left: 30px;
        margin-top: 30px;
        width: 230px;
        height: 250px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
    }

    .pallete-button {
        display: flex;
        padding: 17px 17px 17px 13px;
        align-content: center;
        align-items: center;
        margin: auto 0;
        border: none;
        background-color: #ffffff;
        text-align: left;

        &:hover {
            border: 1px solid #000000;
            border-radius: 3px;
        }
        
        img {
            padding-right: 30px;
        }
    }

    #current-color {
        padding-left: 12px;
    }

    .canvas {
        display: flex;
        flex-wrap: wrap;
        margin: 10px auto;
        width: 800px;
        height: 40px;

        .square {
            width: 200px;
            height: 200px;
            background-color: #7d7d7d;
            margin: 5px;
        }
    
        .circle {
            width: 200px;
            height: 200px;
            background-color: #7d7d7d;
            border-radius: 100px;
            margin: 5px;
        }
    }

  

}

.customColor {
    background-color: aqua;
}

.current-circle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid black;
    margin-right: 10px;
    background-color: grey;
}

.prev-circle {
    @extend .current-circle;
    background-color: green;
}

.red-circle {
    @extend .current-circle;
    background-color: red;
}

.blue-circle {
    @extend .current-circle;
    background-color: blue;
}

.square.over {
    border: 2px dashed #000;
}

.one {
    order: 1;
}
.two {
    order: 2;
}
.three {
    order: 3;
}
#four{
    order: 4;
}
#five {
    order: 5;
}
#six {
    order: 6;
}
#seven {
    order: 7;
}
#eight {
    order: 8;
}
#nine {
    order: 9;
}

.input-color {
    border-radius: 32px;

    margin-right: 10px;
    border: 1px solid black;
}
input[type="color"] {
	-webkit-appearance: none;
    border: none;
    
	width: 32px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 32px;
    
}

#notification {
    position: relative;
    height: 40%;
    width: 35%;
    padding: 5px;
    background-color: #C1F7EE;
    top: 10px;
    border-radius: 10px;
    font-size: 14px;
    animation: display 1s ease-in-out;
}

@keyframes display {
    from {
        position: fixed;
        text-shadow: 0 0 3px black;
        top: -700px;
    }
}

.remove-button {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
    cursor: pointer;
    border: none;
}

.hide {
    display: none;
    transition: 1000ms ease-in-out;
}

.wrapper {
    display: flex;
    align-items: center;
    align-content: flex-end;
    padding: 5px;
}

.wrapper p {
    padding: 3px;
}

.disableBox {
    width: 15px;
    height: 15px;
}