* {
  margin: 0;
  padding: 0;
}

canvas {
  image-rendering: pixelated;
  background-image: url(/src/screens/canvas/images/bg.png);
  // overflow-x: visible;
}

.paint-field {
  transform: scale(2,2);
}

body {
  overflow-x: hidden;
}

.grid {
  display: grid;
  grid-template-areas:
    "header header header header"
    "tools frames canvas-field layers";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 0.5fr 256px 3fr 1fr;
  height: 100vh;


  .header {
    grid-area: header;
  }

  .tools-bar {
    grid-area: tools;
    display: flex;
    align-items: center;
  }

  .frames-bar {
    grid-area: frames;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
  }

  .add-frame-tool {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0;
    width: 85px;
    height: 40px;
    margin: 2px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
  }

  .frame {
    border: 1px solid black;
    margin: 5px 0;
  }

  .frame-wrap {
    display: flex;
    align-items: center;
  }

  .delete-frame {
    width: 20px;
    height: 20px;
    background-image: url('/../../src/screens/canvas/images/garbage.svg');
  }

  .copy-frame {
    width: 20px;
    height: 20px;
    background-image: url('/../../src/screens/canvas/images/copy.svg');
  }

  .frames-counter {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 20px;
    height: 20px;
  }

  .layers-field {
    display: flex;
  }

  .canvas-field {
    grid-area: canvas-field;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .layers-tools {
    grid-area: layers;
    // position: relative;
    display: flex;
    flex-direction: column;
  }

  .animated-canvas {
    width: 128px;
    height: 128px;
    border: 1px solid black;
  }

  .animation {
    border: 1px solid black;
  }
}

// TOOLS

.tool {
  width: 45px;
  height: 40px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.delete-frame:hover,
.add-frame-tool:hover,
.tool:hover {
  background-color: #808080;
}

.canvas-tools {
  display: flex;
  flex-direction: column;
  .pen-size-tool {
    display: flex;
  }
  .pen-size {
    width: 20px;
    height: 20px;
    margin: 3px;
    background-color: red;
  }
  .color {
    width: 30px;
    height: 30px;
  }
}

.canvas-field-properties{
  margin-top: 10px;
}

.canvas-size {
  position: absolute;
  right: 5px;
  animation: display 1s ease-in-out;
}

@keyframes display {
  from {
    position: fixed;
    right: -700px;
  }
}

.hide {
  display: none;
}
