* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

canvas {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  background-image: url(/src/screens/canvas/images/bg.png);
}

.paint-field {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
}

body {
  overflow-x: hidden;
}

.grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header header" "tools frames canvas-field layers";
  -ms-grid-rows: 50px 1fr;
      grid-template-rows: 50px 1fr;
  -ms-grid-columns: 0.5fr 256px 3fr 1fr;
      grid-template-columns: 0.5fr 256px 3fr 1fr;
  height: 100vh;
}

.grid .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
}

.grid .tools-bar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tools;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid .frames-bar {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: frames;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.grid .add-frame-tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 0;
  width: 85px;
  height: 40px;
  margin: 2px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: white;
  line-height: 13px;
}

.grid .frame {
  border: 1px solid black;
  margin: 5px 0;
}

.grid .active-frame {
  border: 3px solid #c4c419;
}

.grid .frame-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid .delete-frame {
  width: 20px;
  height: 20px;
  background-image: url("/../../src/screens/canvas/images/garbage.svg");
}

.grid .copy-frame {
  width: 20px;
  height: 20px;
  background-image: url("/../../src/screens/canvas/images/copy.svg");
}

.grid .swap-frame {
  width: 20px;
  height: 20px;
  background-image: url("/../../src/screens/canvas/images/sort.svg");
}

.grid .frames-counter {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 20px;
  height: 20px;
}

.grid .layers-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid .canvas-field {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: canvas-field;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid .layers-tools {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: layers;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid .animated-canvas {
  width: 128px;
  height: 128px;
  border: 1px solid black;
}

.grid .animation {
  border: 1px solid black;
}

.tool {
  width: 45px;
  height: 40px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.delete-frame:hover,
.add-frame-tool:hover,
.tool:hover {
  background-color: #808080;
}

.canvas-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.canvas-tools .pen-size-tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.canvas-tools .pen-size {
  width: 20px;
  height: 20px;
  margin: 3px;
  background-color: red;
}

.canvas-tools .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvas-tools .color {
  border-radius: 32px;
  margin-right: 1px;
  border: 1px solid black;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 32px;
  height: 32px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 32px;
}

.canvas-field-properties {
  margin-top: 10px;
}

.canvas-size {
  position: absolute;
  right: 5px;
  -webkit-animation: display 1s ease-in-out;
          animation: display 1s ease-in-out;
}

@-webkit-keyframes display {
  from {
    position: fixed;
    right: -700px;
  }
}

@keyframes display {
  from {
    position: fixed;
    right: -700px;
  }
}

.hide {
  display: none;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #126377;
  border: 1px solid #bdc3c7;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.input[type=range] {
  -webkit-appearance: none;
  border-radius: 8px;
  height: 7px;
  border: 1px solid #460e1a;
  background-color: #fff;
}

input[type=range]::-webkit-slider-thumb:hover {
  border: 1px solid #460e1a;
}

.pixel-size {
  width: 50px;
}

.order {
  border: 2px dashed #000;
}

.swapper {
  width: 20px;
  height: 20px;
}

.over {
  border: 5px dashed #d6d314;
}
/*# sourceMappingURL=style.css.map */