canvas {
  // width: 500px;
  // height: 500px;
  border: 1px solid black;
  display: block;
}
button {
  width: 85px;
  height: 30px;
  margin: 2px;
}
.canvas-tools {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-areas:
  "header header header"
  "tools canvas-field layers";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;

  .header {
    grid-area: header;
  }
  .tools-bar {
    grid-area: tools;
  }
  .canvas-field {
    grid-area: canvas-field;
  }
  .layers-tools {
    grid-area: layers;
    position: relative;
  }
}

.canvas-size{
  position: absolute;
  right: 5px;
  animation: display 1s ease-in-out;
}

@keyframes display {
  from {
      position: fixed;
      right: -700px;
  }
}

.hide {
  display: none;
}

* {
  overflow-x: hidden;
}
