canvas {
  width: 32px;
  height: 32px;
  border: 1px solid black;
}
button {
  width: 85px;
  height: 30px;
  margin: 2px;
}
.canvas-tools {
  display: flex;
  flex-direction: column;
}

main {
  .wrapper {
    display: flex;
  }
}
